@import "./utils/variables";
@import "./utils/mixin";
@import "./components/buttons";
@import "./layouts/form";
@import "./base/typography";
body {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", cursive;
  max-width: 375px;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.img_backg img {
  object-fit: cover;
  height: 320px;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    padding: 0.5em;
  }
}

.wrapper_info {
  background-color: #eff1f1;
  padding: 1em 2em;
  text-align: center;
  h1 {
    padding: 0 1em;
    @include font1;
  }
  p {
    color: gray;
  }
}

.container {
  margin-top: 3em;
}
.operation {
  margin-bottom: 3em;
  width: 95%;
  margin-left: 10px;
}
.operation_step {
  display: flex;
  align-items: baseline;
  border-radius: 15px 15px 15px 15px;
  margin: 1.5em 1em;
  box-shadow: $ombre;
  cursor: pointer;
  background-color: $color-fourtiary;
  &:hover {
    background-color: #e4d5f6;
    box-shadow: 3px 10px 5px #c0c0c0;
    .step {
      color: $color-primary;
    }
  }
  .circle_purple {
    color: white;
    background-color: $color-primary;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    padding: 0.3em;
    text-align: center;
    margin-left: -1em;
  }
  .step {
    font-size: 20px;
    margin-left: 1em;
    width: 40px;
    padding-right: 0px;
    color: #797e7e;
  }
  p {
    @include operat-font;
    padding: 1.5em 0;
  }
}
.liste_restaurant {
  background-color: $color-fourtiary;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 10px 15px 5px;
  }
}
.restaurant {
  margin: 15px 15px;
  position: relative;
  .rest_card {
    justify-content: space-between;
    width: 100%;
    height: 220px;
    border-radius: 20px;
    margin: 0px;
    background-color: white;
    box-shadow: $ombre;
    img {
      border-radius: 20px 20px 0 0;
      height: 69%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.rest_info-block {
  margin: 5px 15px 0;
  h3 {
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  i {
    @include heart;
  }
}

.plein {
  font-size: 25px;
  opacity: 0;
  &:hover {
    @include lingrad;
    cursor: pointer;
  }
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 3px;
  background-color: $color-green;
  color: #217460;
}
footer {
  margin: 0;
  background-color: rgb(49, 46, 46);
  padding: 2em;
  color: white;
  p {
    margin: 0.3em 0;
  }
  .mr10 {
    margin-right: 10px;
  }
}
.footer_logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  padding-bottom: 10px;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: $color-fourtiary;
  animation: blind 4s;
  transform-origin: left;
  .com {
    @include lingrad;
    font-family: "Shrikhand", cursive;
    font-size: 3em;
    opacity: 0;
  }
}
.ap1 {
  animation: wait 3s;
}
.ap2 {
  animation: wait 3s 1s;
}
.ap3 {
  animation: wait 3s 2s;
}
@keyframes wait {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blind {
  from {
    width: 100%;

    opacity: 1;
  }
  to {
    width: 100%;

    opacity: 1;
  }
}

/* pages 2a5*/
.header_logo {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 1em;
}
.img_backg img {
  height: 240px;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: $color-fourtiary;
  padding-top: 1em;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -50px;
}
.menu_header {
  padding: 1em;
  position: relative;
  h2 {
    display: inline;
    font-family: "Shrikhand";
  }
  i {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 26px;
  }
}
.menu_list > h3 {
  text-transform: uppercase;
  margin-left: 1em;
  padding: 3px 0;
}
.BB-green {
  border-bottom: 3px solid $color-green;
}

.card {
  position: relative;
  border-radius: 15px 15px 15px 15px;
  margin: 1.5em 1em;
  box-shadow: $ombre;
  cursor: pointer;
  background-color: white;
  padding: 1em;

  &:active .check {
    transform: scaleX(1);
  }
  &:active .fa-check {
    transform: rotate(360deg);
  }
  &:active .price {
    transform: translate(-52px);
  }
  &:active .sub_title {
    width: 75%;
  }
  &:active h3 {
    width: 90%;
  }
}
.card_info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.95em;
  .sub_title {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 88%;
    transition: 1s;
  }
  .price {
    font-weight: bold;
    margin: 0;
    transition: 1s;
    background-color: #fff;
    padding-right: 1em;
    margin-right: -16px;
  }
}
.validate-btn {
  display: inherit;
  justify-content: center;
}
.check {
  transform: scaleX(0);
  transform-origin: right;
  width: 15%;
  height: 73px;
  background-color: $color-green;
  border-radius: 0px 10px 10px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.fa-check {
  border-radius: 100%;
  background-color: white;
  padding: 0.3em;
  color: $color-green;
  transition: 1s;
}
@keyframes fade {
  from {
    transform: translateY(200px);

    opacity: 0;
  }

  to {
    transform: translateY(0);

    opacity: 1;
  }
}
.fade1 {
  animation: fade 2s;
}
.fade2 {
  opacity: 0;
  animation: fade 2s 2s both;
}
.fade3 {
  opacity: 0;
  animation: fade 2s 3s both;
}
