body {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", cursive;
}
figure img {
  height: 150px;
  width: 200px;
}
.img_backg img {
  height: 120px;
  width: 120px;
}

/*teste des mise en page */
