.btn {
  border-radius: 2em;
  padding: 1em 1.5em;
  color: $color-white;
  border: none;
  font-weight: normal;
  font-size: 1.05em;
  margin: 1em 1em 2em;
  box-shadow: $ombre;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  cursor: pointer;
}
